@model GitHub.Models.grupo2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>grupo2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_del_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_del_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuatrimestres_cursados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuatrimestres_cursados)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
