@model IEnumerable<GitHub.Models.grupo2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_del_estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuatrimestres_cursados)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_del_estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuatrimestres_cursados)
        </td>
        <td>
      
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
       
        </td>
    </tr>
}

</table>
