@model GitHub.Models.grupo1

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del estudiante</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_del_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_del_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuatromestres_cursados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuatromestres_cursados)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Volver a la lista", "Index")
</p>
