@model IEnumerable<GitHub.Models.eventosSet>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de eventos</h2>

<p>
    @Html.ActionLink("Agregar evento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Ideventos }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Ideventos }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Ideventos })
        </td>
    </tr>
}

</table>
